---
import PortfolioSkillTag from "./PortfolioSkillTag.astro";

let skillToColor = {
    "Django": "rgb(133, 76, 29)",
    "React": "rgb(105, 49, 76)",
    "React Native": "rgb(73, 47, 100)",
    "Expo": "rgb(96, 59, 44)",
    "Firebase" : "rgb(133, 76, 29)",
    "Android" : "rgb(55, 55, 55)",
    "HTML" : "rgb(137, 99, 42)",
    "JS" : "rgb(43, 89, 63)",
    "CSS" : "rgb(133, 76, 29)",
    "Bootstrap" : "rgb(40, 69, 108)",
    "Website" : "rgb(55, 55, 55)",
    "AWS" : "rgb(96, 59, 44)",
    "Unity" : "rgb(96, 59, 44)",
    "C#" : "rgb(105, 49, 76)",
    "Illustrator" : "rgb(90, 90, 90)",
    "Photoshop" : "rgb(40, 69, 108)",
    "IOS" : "rgb(137, 99, 42)",
    "Flutter" : "rgb(43, 89, 63)",
    "Python" : "rgb(40, 69, 108)"
}

let projects = [
    {
        title:"DBITLOR",
        description: "A LOR process automation system",
        skills: ["Django", "React", "React Native", "Expo"],
        imgURL: "https://ik.imagekit.io/haydencordeiro/DBIT%20LOR__Er7SC0QU?updatedAt=1702743360740",
        searchTerm: "web",
        youtubeURL:"https://ik.imagekit.io/haydencordeiro/DBIT%20LOR__Er7SC0QU?updatedAt=1702743360740"
    },
    {
        title:"JetChat",
        description: "Realtime Chat Application",
        skills: ["Android", "React Native", "Firebase", "Expo"],
        imgURL: "https://ik.imagekit.io/haydencordeiro/JetChat_E4Z1UHU9l.png?updatedAt=1702754118556",
        searchTerm: "app"
    },
    {
        title:"Krishna Plastic Website",
        description: "Developed the official website for krisna plastics",
        skills: ["HTML", "JS", "CSS", "Bootstrap", "Website"],
        imgURL: "https://ik.imagekit.io/haydencordeiro/DBIT%20LOR__Er7SC0QU?updatedAt=1702743360740",
        searchTerm: "web"
    },
    {
        title:"FoodPaddlars",
        description: "An Android based Food Deivery Application",
        skills: ["Android", "Django", "AWS"],
        imgURL: "https://ik.imagekit.io/haydencordeiro/DBIT%20LOR__Er7SC0QU?updatedAt=1702743360740",
        searchTerm: "app"
    }
]

function createSearchTerm(skillList) {
    return skillList.map(skill => `filter-${skill.toLowerCase().replace(/ /g, "_")} `);;
}

projects.forEach(project => {
    project.searchTerm = "filter-" + project.searchTerm + " "  + createSearchTerm(project.skills).join(" ");
});


---

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-show">
    <div class="container">
        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Works</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-web">Website</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-others">Others</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">
            {
                projects.map((project) =>
            
            <div class=`col-lg-4 col-md-6 portfolio-item filter-web ${project.searchTerm}` >
                <div
                    class="portfolio-wrap"
                    style=" border-top-left-radius: 5px; border-top-right-radius: 5px;"
                >
                    <img
                        src={project.imgURL}
                        loading="lazy"
                        class="img-fluid"
                        alt="ACM DBIT Website 2021"
                    />
                    <div class="portfolio-info">
                        <h4>DBITLOR</h4>
                        <p>Website</p>
                        <div class="portfolio-links">
                            {project.youtubeURL &&
                            
                                <a
                                target=" _blank"
                                href= {project.youtubeURL}
                                title="ACM DBIT Website 2021"
                                ><i class="bi bi-youtube"></i></a
                            >
                            }

                            <a
                                target=" _blank"
                                href="https://dbit.acm.org/"
                                title="ACM DBIT Website"
                                ><i class="bx bx-link"></i></a
                            >
                        </div>
                    </div>

                </div>
                <div
                        spellcheck="true"
                        placeholder="Untitled"
                        data-content-editable-leaf="true"
                        contenteditable="false"
                        style="background-color:#262626;padding-left:11px;max-width: 100%; width: auto; padding-top: 0.5rem; word-break: break-word; caret-color: rgba(255, 255, 255, 0.81); font-size: 16px; line-height: 1.5; min-height: 24px; font-weight: 500; pointer-events: none;"
                    >
                        {project.title}
                    </div>
                    <div
                        style="padding-top: 0px; padding-bottom: 10px;background-color:#262626; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"
                    >
                        <div
                            role="button"
                            tabindex="0"
                            data-testid="property-value"
                            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; position: relative; display: flex; overflow: hidden; align-items: center; border-radius: 5px; margin: 0px 6px 2px; padding: 0px 5px 0px; font-size: 14px; min-height: 24px; white-space: nowrap; width: fit-content;"
                        >
                            <div
                                style="display: flex; justify-content: end; position: absolute; top: -1px; right: 0px; left: 0px; z-index: 2; margin: 0px 6px; pointer-events: none;"
                            >
                                <div
                                    style="display: flex; gap: 4px; pointer-events: auto;"
                                >
                                </div>
                            </div><div
                                style="line-height: 1.5; white-space: nowrap; word-break: normal; overflow: hidden;"
                            >
                                <span> {project.description}</span>
                            </div>
                        </div>
                        <div
                            role="button"
                            tabindex="0"
                            data-testid="property-value"
                            style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; position: relative; display: flex; overflow: hidden; align-items: center; border-radius: 5px; margin: 0px 6px 2px; padding: 0px 5px; font-size: 14px; min-height: 24px; white-space: nowrap; width: fit-content;"
                        >
                            <div
                                style="display: flex; justify-content: end; position: absolute; top: -1px; right: 0px; left: 0px; z-index: 2; margin: 0px 6px; pointer-events: none;"
                            >
                                <div
                                    style="display: flex; gap: 4px; pointer-events: auto;"
                                >
                                </div>
                            </div><div
                            id="portfolio-skills"
                                style="display: flex; min-width: 0px; flex-shrink: 0; flex-wrap: nowrap; gap: 6px 8px;"
                            >
                        {project.skills.map(skill => 
                            <PortfolioSkillTag skill={skill} backgroundColor={skillToColor[skill]}/>
                            )}

   
                            </div>
                        </div>
                    </div>
            </div>)
        }



        </div>
    </div>
</section><!-- End Portfolio Section -->
